<?xml version="1.0" encoding="UTF-8"?>

<security>
	<users>
		<!-- 
			This list should contain the named users of the system.  To add or update users, follow these rules:
			* 'username' and 'password' are only required for a named user to access certain non-public resources,
				or to have elevated / extra access to any resource.  If a named user connects without sending
				the 'username' and 'password' in the 'Authorization' header of the request, then that user will
			* All 'user' objects must contain an 'email' attribute, but the 'email' attribute may contain multiple
				wildcard characters (*) to match any ASCII character string in valid email addresses.
			* A user may be granted multiple roles by using a comma-delimited list for the 'role' attribute. Whitespace
				in any list is ignored.
			* A named user should be listed once, and only once.
		-->
		<user email="admin@foo.bar" username="admin" password="adminPass!" />
		<user email="dataTeam@foo.bar" username="data_team" password="!groupPass" />
		<user email="*" username="test_user1" />
		<user email="*@show.biz" role="blacklisted" />
	</users>
	<roles>
		<!-- 
			The 'roles' section is the ACL for a role to which a user is assigned.
			* The 'resource' nodes should contain a single resource, with the 'access' attribute may be a
				comma-delimited list of the common REST verbs: GET, POST, PUT, DELETE.
			* In addition to common verbs, NONE may be used to denote that a user assigned that specific role
				will not have any access to resource defined in the node.
			* Whitespace in the list is ignored.
			* These roles may be modified or removed, and new roles may be added, so long as 
		 -->
		<role name="administrator">
			<resources>
				<resource name="Questions" access="GET, POST, PUT, DELETE" />
				<resource name="Answers" access="GET, POST, PUT, DELETE" />
				<resource name= "Players" access="GET, POST, PUT, DELETE" />
			</resources>
		</role>
		<role name="support">
			<resources>
				<resource name="Questions" access="GET, PUT" />
				<resource name="Answers" access="GET, POST, PUT" />
				<resource name= "Players" access="GET, PUT, DELETE" />
			</resources>
		</role>
		<role name="analyst">
			<resources>
				<resource name="Questions" access="GET" />
				<resource name="Answers" access="GET, POST" />
				<resource name= "Players" access="GET" />
			</resources>
		</role>
		<role name="basic">
			<!-- This is the role that is reccommended for all non-named users that access any public endpoint with an email address -->
			<resources>
				<resource name="Questions" access="GET" />
				<resource name="Answers" access="POST" />
				<resource name= "Players" access="GET" />
			</resources>
		</role>
			<!-- The application of this role takes precedence over any other; if this is used for a user with 'role="*"' all non-named users will be blocked from access -->
		<role name="blacklisted">
			<resources>
				<resource name="Questions" access="NONE" />
				<resource name="Answers" access="NONE" />
				<resource name= "Players" access="NONE" />
			</resources>
		</role>
		
	</roles>
</security>
